body {
    font-family: helvetica;
    background-color: #4e5d98;
}

.buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.4em;
    opacity: .8em;
}

.account-container {
    float: left;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: white;
    width: 100%;
}

.name_widget {
    color: #caa39a;
    font-size: 3em;
    text-decoration: underline;
}

.weather-fieldset {
    padding-left: 4em;
}

a:link,
a:visited {
    display: block;
    color: white;
    background-color: #4e5d98;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

li {
    float: left;
}

.header-container {
    display: flex;
    justify-content: start;
    background-color: #8ed9fa;
    align-items: center;
    height: 100px;
    width: 100%;
}

.picture-container {
    width: 100%;
    margin: auto;
}

.pool-pic {
    background-image: url("./Images/Pool\ Pic.png");
    /* allows image to scale within the container */
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: absolute;
    right: 0;
    margin: 10px;
    max-width: 100px;
    padding: 16px;
    background-color: #9dcaf4;
    opacity: .9;
    color: white;
}

.footer-container {
    display: flex;
    color: #4e5d98;
    justify-content: left;
    align-items: center;
    height: 350px;
    background-color: #32a39d;
    padding-left: 40px;
    padding-bottom: 10px;
}