body {
    font-family: helvetica;
    background: linear-gradient(-120deg, rgba(156, 202, 244, 1) 12%, rgba(78, 92, 152, 1) 50%);
}

#searchButton {
    background-color: #4f968b;
    padding-left: 60px;
    padding-right: 60px;
    
}


.weather {
    padding-left: 100px;
}

.buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.4em;
    opacity: .8em;
}


.account-container {
    float: left;
    height: 1000px;
}



.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: white;
    width: 100%;
    padding-right: 300px;
}

.name_widget {
    color: tan;
    font-size: 3em;
    text-decoration: underline;
}

.icon_widget {
    display: flex;
    justify-content: baseline;
}

.weather-fieldset {
    padding-left: 100px;
}

a:link,
a:visited {
    display: block;
    color: white;
    background-color: #4e5d98;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}


li {
    float: left;
}

.header-container {
    display: flex;
    justify-content: start;
    background-color: #8ed9fa;
    align-items: center;
    height: 100px;
    width: 100%;
}

.picture-container {
    width: 100%;
    margin: auto;
}

.pool-pic {
    background-image: url("./Images/Pool\ Pic.png");
    /* allows image to scale within the container */
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.container {
    position: absolute;
    right: 0;
    margin: 10px;
    max-width: 100px;
    padding: 16px;
    background-color: #9dcaf4;
    opacity: .9;
    color: white;
}

.footer-container {
    display: flex;
    color: #4e5d98;
    justify-content: left;
    align-items: center;
    height: 380px;
    background-color:black;
    opacity: 0.5;
    padding-left: 100px;
    padding-bottom: 10px;
}



.footer2 {
display: flex;
padding-left: 100px;
padding-top: 100px;
}